@model IEnumerable<WebApplicationSistemaReclamosV2.Models.ViewModels.ReclamoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de reclamos</h1>

<p>
    <a asp-action="Create">Crear nuevo reclamos</a>
</p>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" }) |
                    @Html.ActionLink("Ver", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info"}) |
                    @Html.ActionLink("Borrar", "Delete", new {  id = item.Id }, new { @class = "btn btn-sm btn-danger btn-borrar"})
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () { //EL HTML DE LA PAGINA ESTA CARGADO OK!!!!
            $('.btn-borrar').on('click', function (event) { //AGREGO EVENTO CLICK A TODOS LOS BOTONES BORRAR
                event.preventDefault(); //IMPEDIMOS EJECUTAR EL LINK DE BORRAR POR DEFECTO
                var urlLinkBorrar = $(this).prop('href'); //RECUPERO LA URL ORIGINAL DEL LINK
                bootbox.confirm('Borramos el reclamo?', function (result) {
                    if (result == true) {
                        window.location = urlLinkBorrar; //EJECUTA EL LINK ORIGINAL DE BORRAR!!
                    }
                });
            });
        });
    </script>
}
